<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shirley.selectdorm" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="selectdorm"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".selectdormitory.MainActivity"
            android:label="selectdorm"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".selectdormitory.LoginActivity">

            <!-- 通过<intent-filter>标签，指定程序的主Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".selectdormitory.SelectType" />
        <activity android:name=".selectdormitory.SelectDormitory" />
        <activity android:name=".selectdormitory.ResultActivity">
        </activity>
    </application>

</manifest>